
.task-lists{
    border: 10px solid;
    margin:auto;
    text-align: center;
}

#text-input{
    width: 40%;
    line-height: 2.5em;
    background-color: cyan;
}

#submit-input{
    height: 2.9em;
}


.task{
    display: flex;
    max-width: 42.75%;
    border: 2px solid red;
    margin: 0 auto;
}

/* .task-content{
    flex-basis: 100%;
} */

.task-content input{
    flex-basis: 100%;
}

